In [55]:
import pandas as pd 
df = pd.read_csv('netflix_titles.csv')

In [3]:
df.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."

In [57]:
import sqlalchemy as sal

In [59]:

engine = sal.create_engine(
    "mssql+pyodbc://DESKTOP-ES6509R/master?driver=ODBC+Driver+17+for+SQL+Server&TrustServerCertificate=yes"
)

In [61]:
conn = engine.connect()
print("Connection successful!")

Connection successful!

In [63]:
from sqlalchemy.types import NVARCHAR

df.to_sql('netflix_raw', con=conn, index=False, if_exists='append',
          dtype={'title': NVARCHAR(200)})

107

In [14]:
len(df)

8807

In [21]:
df[df.show_id=='s2639']

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
2638,s2639,Movie,الف مبروك,Ahmed Nader Galal,"Ahmed Helmy, Laila Ezz El Arab, Mahmoud El Fis...",Egypt,"April 25, 2020",2009,TV-14,115 min,"Comedies, Dramas, International Movies","On his wedding day, an arrogant, greedy accoun..."

#### AS YOU HAVE SEEN UPPER WE ARE GETTING SYMBOLS  BCZ THE LANGUAGE IS NOT SUPPORTED IN "VARCHAR" DATATYPE SO STAY CONNECTED ....

In [27]:
#. NOW WE ARE FINDING THAT HOW MUCH LENGTH WE SHOULD GIVE TO EACH COLUMN TO MAXIMIZE THE TIME EFFICIENCY

In [85]:
max(df.show_id.dropna().str.len())

5

In [87]:
max(df.type.dropna().str.len())

7

In [89]:
max(df.title.dropna().str.len())

104

In [91]:
max(df.director.dropna().str.len())

208

In [93]:
max(df.cast.dropna().str.len())

771

In [95]:
max(df.country.dropna().str.len())

123

In [97]:
max(df.date_added.dropna().str.len())

19

In [99]:
max(df.rating.dropna().str.len())

8

In [101]:
max(df.duration.dropna().str.len())

10

In [103]:
max(df.listed_in.dropna().str.len())

79

In [105]:
max(df.description.dropna().str.len())

248

In [109]:
df.isna().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [113]:
df.dropna()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
8,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,"September 24, 2021",2021,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...
12,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...","Germany, Czech Republic","September 23, 2021",2021,TV-MA,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...
24,s25,Movie,Jeans,S. Shankar,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...",India,"September 21, 2021",1998,TV-14,166 min,"Comedies, International Movies, Romantic Movies",When the father of the man she loves insists t...
...,...,...,...,...,...,...,...,...,...,...,...,...
8801,s8802,Movie,Zinzana,Majid Al Ansari,"Ali Suliman, Saleh Bakri, Yasa, Ali Al-Jabri, ...","United Arab Emirates, Jordan","March 9, 2016",2015,TV-MA,96 min,"Dramas, International Movies, Thrillers",Recovering alcoholic Talal wakes up inside a s...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [41]:
print(df['title'].head(70))  # Check if characters are fine before insertion

0               Dick Johnson Is Dead
1                      Blood & Water
2                          Ganglands
3              Jailbirds New Orleans
4                       Kota Factory
                   ...
65                      Numberblocks
66     Raja Rasoi Aur Anya Kahaniyan
67                 Saved by the Bell
68                        Schumacher
69    Stories by Rabindranath Tagore
Name: title, Length: 70, dtype: object

In [43]:
df[df.show_id=='s5023']

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5022,s5023,Movie,반드시 잡는다,Hong-seon Kim,Baek Yoon-sik,South Korea,"February 28, 2018",2017,TV-MA,110 min,"Dramas, International Movies, Thrillers",After people in his town start turning up dead...